@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;   
    font-family: 'Ubuntu', sans-serif;
}
.logoNav{
    width: 60%;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    overflow-x: hidden;

}
nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.ContenedorLinks a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}
.ContenedorLinks a:hover{
    cursor: pointer;
    border-bottom: 1px solid #08F0AC;
}
.SeccionHome{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 70vh;
    text-align: center;
    flex-direction: column-reverse;

}
.BotonPrincipal{
    background-image: linear-gradient(100deg, #00FCA8, #1CDAFF 100%);
    text-transform: uppercase;
    width: 150px;
    display: block;
    margin: 0 auto;
    color: white;
    border-radius: 50px;
    padding: 1em;
    border: none;
    font-weight: bold;
    margin-top: 50em;
    text-decoration: none;
    z-index: 3;
    
}
.cnt{
    width: 350px;
    box-sizing: border-box;
    padding: 2em;
    font-family: Ubuntu;
    border-radius: 25px;
    color: white;
    line-height: 25px;
    float: left;
    background: linear-gradient(150deg, #39ef7398, #1CDAFF 100%);
    text-align: center;
    box-shadow: 0px 8px 1px 1px rgba(165, 165, 165, 0.08);
    z-index: 3;
}
.cnt:hover{
    background: linear-gradient(150deg, #39ef739a, #1cd9ff98 100%);
}
button {
    text-transform: uppercase;
    width: 150px;
    display: block;
    margin: 0 auto;
    color: black;
    border-radius: 50px;
    padding: 1em;
    background: white;
    border: none;
    font-weight: bold;
    margin-top: 4em;
    cursor: pointer;
  }

.SeccionServicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20%;

}

.SeccionHome{
    margin-bottom: 25%;
  }


.container{
    position: fixed;
  }


@media (max-width: 500px) {
.SeccionHome{
        margin-bottom: 35%;
    }

.cnt{
        width: 350px;
        box-sizing: border-box;
        padding: 2em;
        font-family: Ubuntu;
        border-radius: 25px;
        color: white;
        line-height: 25px;
        float: left;
        background: linear-gradient(150deg, #39ef7398, #1CDAFF 100%);
        text-align: center;
        margin: 10px;
    }

  }